
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;;
}

.parallax 
{
    background-image: url(assets/header2.jpg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    padding-left: 10px;
    padding-top: 10px;
}

.profile-icon
{
    height: 50px;
    width: 50px;
    background-image: url(assets/GTE-i_ca0AEZ3gZ.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav
{
    display: flex;
    justify-content: center;
}

.navbar-keren
{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;     
    position: fixed;    
    top: 100; 
    width: 100%;
}

.navbar-keren h1
{
    margin: 10px;
}

.navbar-keren h1{
    color: #000;
    position: relative;
    text-decoration: none;
}

.navbar-keren h1::before {
    background: lightcyan;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.navbar-keren h1:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header hr
{
    width: 25%;
    height: 2px;
    background-color: black;
    border: none;
}

.navbar-line
{
    text-align: center;
    width: 100%;
    padding: 0 0.5em;
    border-right: 2px solid black;
    text-align: center;
}

.line-only {
    border-right: 2px solid black;
}

a
{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-content: center;
}

hr
{
    height: 1.5px;
    background-color: black;
    border: none;
}

#about
{
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    border-bottom: 2px solid black;
}

#about img
{
    width: 300px;
}

.image-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-button-container button {
    height: 50px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15%;
    border: 1px solid white;;
}

.image-button-container button:hover {
    height: 50px;
    background-color: lightgray;
    border: 1px solid white;
    transition-delay: 150ms;
}

.image-button-container button p {
    font-size: 35px;
    font-weight: normal;
    
}   

.profile-container
{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.description
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description h4
{
    text-align: center;
    font-weight: normal;
    width: 50%;

}

#profile
{
    padding-top: 50px;
}

.profile
{
    display: flex;
    width: 100%;
    gap: 15px;
    border: 3px solid ;
    border-radius: 10%;
    padding: 10px;
}


.profile h3 
{
    text-align: start;
}

.answer-container h3 {
    color: #000;
    position: relative;
    text-decoration: none;
}

.answer-container h3::before {
    background: lightcyan;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.answer-container h3:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.answer-container h3
{
    font-weight: normal;
}


.description-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 0px;
}

.gap-hashtag-emoji
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}







    





