
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}



.parallax 
{
    background-image: url(assets/header/suisei-text-3.png);
    height: 500px;
    background-attachment: fixed;
    background-position-y: -500px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header
{
    /* padding-top: 10px; */
    border-bottom: 2px solid black;
}

.profile-icon
{
    height: 50px;
    width: 50px;
    background-image: url(assets/profile.webp);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

nav
{
    display: flex;
    justify-content: center;
}

.navbar-keren
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 60px;
    overflow: hidden;     
    position: fixed;    
    top: 100; 
    width: 100%;
    transition: background-color 0.3s ease;
}

.navbar-keren h1
{
    margin: 10px;
}

.navbar-keren h1
{
    color: #000;
    position: relative;
    text-decoration: none;
}

.navbar-keren h1::before 
{
    background: rgba(224, 255, 255, 0.701);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.navbar-keren h1:hover::before 
{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-keren.transparent 
{
    background-color: transparent;
}

/* Navbar ketika di-scroll (dengan background) */
.navbar-keren.scrolled 
{
    background-color: #00082da5;
}

.navbar-keren.scrolled h1 
{
    color: #e2ac40;
    position: relative;
    text-decoration: none;
}

.navbar-keren.scrolled h1::before {
    background: palegoldenrod;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.navbar-keren.scrolled h1:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header hr
{
    width: 25%;
    height: 2px;
    background-color: black;
    border: none;
}

.navbar-line
{
    text-align: center;
    width: 100%;
    padding: 0 0.5em;
    border-right: 2px solid black;
    text-align: center;
}

.line-only 
{
    border-right: 2px solid black;
}

a
{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-content: center;
}

hr
{
    height: 1.5px;
    background-color: black;
    border: none;
}

#about
{
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    /* border-bottom: 2px solid black; */
    padding-top: 10px;
    background-color: #041d56;
    color: #e2ac40;
    box-shadow: 0 10px 25px 50px rgba(0, 0, 0, 0.1);
}

#about img
{
    width: 300px;
    
}

.image-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

.image-button-container button 
{
    height: 50px;
    width: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15%;
    border: 1px solid transparent;
    color: #e2ac40;
}

.image-button-container button:hover 
{
    height: 50px;
    background-color: #00082da5;
    border: 1px solid transparent;
    transition-delay: 100ms;
}

.image-button-container button p 
{
    font-size: 35px;
    font-weight: normal;
    
}   

.profile-container
{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.description
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-left: 80px;
    width: 98%;
    
}

.description h4
{
    text-align: center;
    font-weight: normal;
    width: 50%;

}

.quote {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
    border-left: 4px solid #4a97cb;
    /* Green accent */
    padding-left: 15px;
    /* Padding for the quote */
    color: #e2ac40;
    
}

#profile
{
    padding-top: 40px;
    text-decoration: underline;
    padding-bottom: 15px;
}

.profile
{
    display: flex;
    width: 100%;
    gap: 15px;
    border: 0px solid ;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #00082d;
}


.profile h3 
{
    text-align: start;
}

.answer-container h3
{
    font-weight: normal;
    text-decoration: none;
    color: #e2ac40;
}

.answer-container a {
    font-weight: normal;
    text-decoration: none;
    color: #e2ac40;
}

.description-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding-top: 0px;
    padding-right: 36px;
}

.gap-hashtag-emoji
{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#music
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 30px;
    background-color: #041d56;
}

.music-container 
{
  background-color: #00082d;
  padding: 20px;   
  border-radius: 15px;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.music-container h1 
{
  text-align: center;
  margin-bottom: 20px;
  color: #e2ac40;
}

.music-identity p 
{
  color: #e2ac40;
}

.music-poster-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.track 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #266ca8;
  transition: background-color 0.3s ease;
  gap: 3px;
}

.track:hover 
{
  background-color: #4a97cb;
}

.track-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.track-info h2 
{
  font-size: 16px;
  color: #e2ac40;
}

.track-info p 
{
  font-size: 14px;
  color: #e2ac40;
}

.track-info img
{
    width: 300px;
    border: 0px solid black;
    border-radius: 15%;
}

.music-identity
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.volume-slider {
    width: 100px;
    appearance: none;
    background: grey;
    height: 4px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

.play-btn 
{
  background-color: black;
  width: 95%;
  color: #e2ac40;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-btn:hover 
{
  background-color: #e2ac40;
  color: black;
}

#social
{
    background-color: #041d56;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding-right: 80px ;
    padding-bottom: 20px;
    height: 150px;
    color: #fff;
    gap: 30px;
}

#social h2 {
    color: #e2ac40;
    letter-spacing: 1px;
}

.social-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.icon {
    padding: 15px;
    border-radius: 30%;
    border: 1px solid #e2ac40;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

#youtube {
    background-image: url(assets/social/yotube.png);
    background-size: cover;
    background-position: center;
}

#x {
    background-image: url(assets/social/x.png);
    background-size: cover;
    background-position: center;
}


.icon:hover {
    color: #fff;
    border-color: transparent;
    transform: translateY(-10px);

}

.triangle-container {
    display: flex;
    gap: 5px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #e2ac40;
    transform: rotate(90deg);
    animation: bounce 1s ease-in-out infinite;
}

.triangle:nth-child(2) {
    animation-delay: 0.2s;
}

.triangle:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateX(0) rotate(90deg);
    }

    50% {
        transform: translateX(10px) rotate(90deg);
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    /* Styles for mobile devices */

.parallax {
    background-image: url(assets/header/suisei-text-hp.png);
    height: 280px;
    background-position-y: 0px;
    background-size: auto;
}

nav 
{
    font-size: 10px;
}

.navbar-keren {
    padding-right: 0px;
}

#about img 
{
    width: 200px;
}

.profile-container 
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.description
{
    padding: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

#profile 
{
    padding-top: 10px;
}

.description-container
{
    padding: 0px;
}

.profile
{
    padding: 10px;
    gap: 10px;
}

.image-button-container
{
    padding-top: 20px;
    padding-bottom: 0px;
}

.music-poster-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.music-container
{
    padding: 10px;
}

.track-info img {
    width: 150px;
}

.track-info h2
{
    font-size: 14px;
    text-align: center;
}

.track-info p {
    font-size: 12px;
}

#social
{
    padding-right: 30px;
    gap: 15px;
}
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablet devices */
}

/* Desktop styles */
@media (min-width: 1025px) {
    /* Styles for desktop devices */
}